/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a6120d;
  --ifm-color-primary-dark: #95100c;
  --ifm-color-primary-darker: #8d0f0b;
  --ifm-color-primary-darkest: #740d09;
  --ifm-color-primary-light: #b7140e;
  --ifm-color-primary-lighter: #bf150f;
  --ifm-color-primary-lightest: #d81711;
  --ifm-code-font-size: 95%;
}

[data-theme='dark'] {
  --ifm-color-primary: #dd1b16;
  --ifm-color-primary-dark: #c71814;
  --ifm-color-primary-darker: #bc1713;
  --ifm-color-primary-darkest: #9b130f;
  --ifm-color-primary-light: #e92722;
  --ifm-color-primary-lighter: #ea322d;
  --ifm-color-primary-lightest: #ed524e;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
