name: '@ngworker/lumberjack CI'

env:
  # Must match the Angular version in `package.json`
  ANGULAR_CURRENT: 11.2.x
  # The latest Node.js version compatible with the Angular version listed in `package.json`
  NODE_CURRENT: 12.x
  NODE_OPTIONS: --max_old_space_size=6144

on:
  push:
    branches:
      - main
  pull_request: {}
  workflow_dispatch: {}

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_CURRENT }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_CURRENT }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-${{ env.ANGULAR_CURRENT }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-${{ env.ANGULAR_CURRENT }}-yarn-
            ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-
      - run: yarn install
      - run: yarn lint

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ env.NODE_CURRENT }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_CURRENT }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-${{ env.ANGULAR_CURRENT }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-${{ env.ANGULAR_CURRENT }}-yarn-
            ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-
      - run: yarn install
      - run: yarn build:lib
      - uses: actions/upload-artifact@v2
        with:
          name: lumberjack-package
          path: dist/ngworker/lumberjack
          if-no-files-found: error

  lib:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]
        angular-version: [9.0.x, 9.1.x, 10.0.x, 10.1.x, 10.2.x, 11.0.x, 11.1.x, 11.2.x]
        include:
          - node-version: 14.x
            angular-version: 12.0.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Angular version ${{ matrix.angular-version }}
        uses: ngworker/angular-versions-action@v4
        with:
          angular-version: ${{ matrix.angular-version }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-
      - run: yarn install
      - run: yarn test:internal:ci
      - run: yarn test:lib:ci
      - run: yarn test:schematics

  app:
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        node-version: [10.x, 12.x]
        angular-version: [9.0.x, 9.1.x, 10.0.x, 10.1.x, 10.2.x, 11.0.x, 11.1.x, 11.2.x]
        include:
          - node-version: 12.x
            angular-version: 12.0.x
          - node-version: 14.x
            angular-version: 12.0.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Angular version ${{ matrix.angular-version }}
        uses: ngworker/angular-versions-action@v4
        with:
          angular-version: ${{ matrix.angular-version }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-
      - run: yarn install
      - run: yarn delete-path-alias @ngworker/lumberjack
      - run: yarn delete-path-alias @ngworker/lumberjack/console-driver
      - run: yarn delete-path-alias @ngworker/lumberjack/http-driver
      - uses: actions/download-artifact@v2
        with:
          name: lumberjack-package
          path: node_modules/@ngworker/lumberjack
      - run: npx ngcc || true

      - if: matrix.angular-version == '9.0.x' || matrix.angular-version == '9.1.x'
        run: yarn delete-commonjs-allowlist

      - run: yarn test:ci
      - run: yarn build

  e2e:
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        node-version: [12.x]
        angular-version: [9.0.x, 9.1.x, 10.0.x, 10.1.x, 10.2.x, 11.0.x, 11.1.x, 11.2.x]
        include:
          - node-version: 14.x
            angular-version: 12.0.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Angular version ${{ matrix.angular-version }}
        uses: ngworker/angular-versions-action@v4
        with:
          angular-version: ${{ matrix.angular-version }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-
      - run: yarn install
      - run: yarn delete-path-alias @ngworker/lumberjack
      - run: yarn delete-path-alias @ngworker/lumberjack/console-driver
      - run: yarn delete-path-alias @ngworker/lumberjack/http-driver
      - uses: actions/download-artifact@v2
        with:
          name: lumberjack-package
          path: node_modules/@ngworker/lumberjack
      - run: npx ngcc || true

      - if: matrix.angular-version == '9.0.x' || matrix.angular-version == '9.1.x'
        run: yarn delete-commonjs-allowlist

      - name: Update Chrome
        run: |
          sudo apt-get update
          sudo apt-get --only-upgrade install google-chrome-stable
          google-chrome --version
      - run: yarn e2e

  schematics-e2e:
    runs-on: ubuntu-latest
    needs: build

    strategy:
      matrix:
        node-version: [10.x, 12.x]
        # 9.0.x doesn't work due to Jest dependencies using TypeScript 3.8 import type syntax
        angular-version: [9.1.x, 10.0.x, 10.1.x, 10.2.x, 11.0.x, 11.1.x, 11.2.x]
        include:
          - node-version: 12.x
            angular-version: 12.0.x

          - node-version: 14.x
            angular-version: 12.0.x

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Use Angular version ${{ matrix.angular-version }}
        uses: ngworker/angular-versions-action@v4
        with:
          angular-version: ${{ matrix.angular-version }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-${{ matrix.angular-version }}-yarn-
            ${{ runner.os }}-node-${{ matrix.node-version }}-angular-
      - run: yarn install
      - run: yarn delete-path-alias @ngworker/lumberjack
      - run: yarn delete-path-alias @ngworker/lumberjack/console-driver
      - run: yarn delete-path-alias @ngworker/lumberjack/http-driver
      - uses: actions/download-artifact@v2
        with:
          name: lumberjack-package
          path: node_modules/@ngworker/lumberjack
      - run: npx ngcc || true

      - if: matrix.angular-version == '9.0.x' || matrix.angular-version == '9.1.x'
        run: yarn delete-commonjs-allowlist

      - run: yarn schematics-e2e

  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          # necessary for SonarCloud Scan
          fetch-depth: 0
      - name: Use Node.js ${{ env.NODE_CURRENT }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_CURRENT }}

      - name: Variable-Yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Cache Yarn cache directory
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-${{ env.ANGULAR_CURRENT }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-${{ env.ANGULAR_CURRENT }}-yarn-
            ${{ runner.os }}-node-${{ env.NODE_CURRENT }}-angular-
      - run: yarn install
      - run: npx ngcc || true

      - run: yarn generate-lint-reports
      - run: yarn generate-test-coverage-reports
      - run: yarn configure-report-paths
      - name: SonarCloud scan
        uses: SonarSource/sonarcloud-github-action@v1.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
